# MongoDB connection string for development
# Use a local MongoDB URI for development:

#MONGO_URI=mongodb+srv://mithileshbhumca_db_user:OAtDPFDmWFAeR5iZ@orderprocess.xygyfmk.mongodb.net/?appName=orderProcess

# Application port
PORT=3000

