# MongoDB connection string for development
#MONGO_URI=mongodb://localhost:27017/order-processing-system
MONGO_URI= "mongodb+srv://mithileshbhumca_db_user:OAtDPFDmWFAeR5iZ@orderprocess.xygyfmk.mongodb.net/?appName=orderProcess";
# Application port
PORT=3000

MONGODB_USERNAME="mithileshbhumca_db_user"
MONGODB_PASSWORD="OAtDPFDmWFAeR5iZ"

